<div class="breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= home_crumb %></li>
      <% split_uri.each do |link| %>
        <%= render partial: 'ducktrails/crumb_link', locals: { link: link } %>
      <% end %>
      <li class="active">Current Page</li>
    </ol>
  </div>
</div>
